@model CvApp.Models.CvModel

<form asp-action=Create>

    <input asp-for=FirstName type="text" />
    <input asp-for=LastName type="text" />
    <input asp-for=email type="text" />
    <input asp-for=CvBlob type="file" />
    <input asp-for=email type="text" />

</form>
