@model List<CvApp.Models.CvModel>

@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Email</td>
        </tr>
        }
    </tbody>
</table>
